.item {
    background-color: var(--color-neutral);
    border: solid 2px var(--color-light-grey);
    border-radius: 8px;
    height: 60px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    user-select: none;

    font-family: 'Montserrat', sans-serif;

    h6 {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0;
        vertical-align: middle;
        width: fit-content;
        color: var(--color-text-dark);
        white-space: nowrap;
    }

    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0;
        vertical-align: middle;
        color: var(--color-text-dark);

        width: 100%;
        text-align: start;

        min-width: 0;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 2.6em;
    }

    &:hover {
        background-color: var(--color-background2);
        border-color: var(--color-accent2);
    }

    &:focus {
        background-color: var(--color-background2);
        border-color: var(--color-accent2);
        outline: 2px solid var(--color-background2);
        outline-offset: 2px;
    }

    &:active:not(:focus) {
        transform: translateY(0);
    }

    button {
        background-color: transparent;
        width: 24px;
        height: 24px;
        padding: 0;
    }
}