.main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 50px;
    word-break-wrap: break-word;
}

.constructorContainer {
    flex: 1;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: minmax(0, 1fr);
    padding: 0 10px;
    min-height: 0;
    overflow: hidden;

    .leftCol {
        width: 320px;
        border-right: solid 2px var(--color-light-grey);
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: 100%;
        min-height: 0;
        & > div {
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;
            min-height: 0;
            gap: 25px;
            border-bottom: solid 2px var(--color-light-grey);
            align-items: center;
            overflow: hidden;
            &:last-child {
                border-bottom: none;
            }
        }

        .scrollList {
            width: 280px;
        }
    }
    .rightCol {
        max-width: 620px;
        overflow: hidden;
        border-left: solid 2px var(--color-light-grey);
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 0 6px 0 20px;
        h2 {
            text-align: center;
        }
        & > .scrollList {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-bottom: 40px;
        }
    }
}

.scrollList{
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--color-light-grey) transparent;

    mask-image: linear-gradient(
            to bottom,
            transparent 0%,
            black 10px,
            black calc(100% - 10px),
            transparent 100%
    );
}
.pageCol {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.page {
    height: 100%;
    aspect-ratio: 210/297;
    background-color: yellow;
    user-select: none;

    &.item {
        width: 92px;
        border-radius: 3px;
        border: 1px solid var(--color-dark-grey);
        margin: 0 40px;
        &.active {
            border: 3px solid var(--color-dark-grey);
        }
    }
}