.main {
    color: var(--color-text-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    user-select: none;

    a {
        font-size: 16px;
        padding: 10px;
        border: 2px solid var(--color-text-dark);
        border-radius: 8px;
        color: var(--color-text-dark);
        transition: all .2s ease-in-out;
        user-select: none;

        &:hover {

            color: var(--color-accent1);
            border: 2px solid var(--color-accent2);
            background-color: var(--color-background2);
        }
    }
}