.input{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 100%;
    background-color: var(--color-neutral);

    border-radius: 8px;
    border: 1px solid var(--color-dark-grey);
    color: var(--color-text-dark);

    transition: var(--transition-fast);
    outline: none;
    appearance: none;
    resize: none;

    &::placeholder{
        color: var(--color-dark-grey);
    }
    &:hover:not(:disabled){

    }
    &:focus-visible {
        border: 1px solid var(--color-accent2);
    }
    &:disabled {
        border: none;
        color: var(--color-dark-grey);
        background-color: var(--color-light-grey);
        pointer-events: none;
        user-select: none;
    }
    &:disabled::placeholder {
        color: var(--color-dark-grey);
    }
    &.search {
        height: 44px;
        border-radius: 22px;
        border: 2px solid var(--color-light-grey);
    }
}