.button {
    padding: 10px 15px;
    color: white;
    background-color: var(--color-accent1);
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 8px;
    user-select: none;

    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    font-weight: 600;

    &:hover {
        background-color: var(--color-accent2);
    }
    &:disabled {
        background-color: var(--color-light-grey);
        color: var(--color-dark-grey);
        pointer-events: none;
    }

    &.outline {
        border: 2px solid var(--color-accent1);
        color: var(--color-accent1);
        background-color: transparent;
        &:hover {
            border-color: var(--color-accent2);
            color: var(--color-accent2);
        }
        &:disabled {
            border-color: var(--color-dark-grey);
            color: var(--color-dark-grey);
        }
    }
}