.container{
    background-color: rgba(0, 0, 0, 0.15);
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    max-width: 650px;
    width: 70%;
    background-color: var(--color-neutral);
    color: var(--color-text-dark);
    padding: 46px 50px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 2px 10px 0 rgba(38, 44, 71, 0.16);
    display: inline-flex;
    flex-direction: column;
    gap: 30px;

    &::backdrop{
        background-color: rgba(0, 0, 0, 0.15);
    }

    & > h1{
        text-align: center;
        font-size: 26px;
        line-height: 100%;
        font-weight: 600;
    }
}
.closeBtn{
    position: absolute;
    color: var(--color-dark-grey);
    margin: 0;
    padding: 0;
    top: 12px;
    right: 12px;
    background-color: transparent;
}